// @import "~bootstrap/scss/bootstrap.scss";

// foglio di stile generale
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: lightgray;
}

// Footer
@import './partials/footer';

// Header
@import './partials/header';
